<div class="blog-post card" id="blog-post-<%= blog.id %>">
  <%= link_to blog.topic.title, topic_path(blog.topic.id) %>
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
  <p class="blog-post-meta">Published <%= blog.created_at.strftime('%B %d, %Y') %></p>
  <% if logged_in? :site_admin %>
    <p class="blog-post-meta">
      <%= link_to blog.status.capitalize, toggle_status_blog_path(blog) %> /
      <%= link_to 'Edit', edit_blog_path(blog) %> /
      <%= link_to 'Delete Post', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
  <p>
    <div class="blog-body"></div>
  </p>
</div>
<!-- /.blog-post -->
<script>
  (function () {
    const raw_md = `<%= blog.body.gsub('`', "\\\\`") %>`
    const rendered = $(window.markdownit().render(raw_md))
    const body_elem = $('#blog-post-<%= blog.id %> .blog-body')
    body_elem.append(rendered)
  })()
</script>
