<div class="blog-post card" id="blog-post-<%= blog.id %>">
  <%= link_to blog.topic.title, topic_path(blog.topic.id) %>
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
  <p class="blog-post-meta">Published <%= blog.created_at.strftime('%B %d, %Y') %></p>
  <%= render "admin_blog", blog: blog %>
  <p>
    <div class="blog-body"></div>
  </p>
</div>
<!-- /.blog-post -->
<script>
  (function () {
    const raw_md = <%= make_js_template blog.body %>
    const selector = '#blog-post-<%= blog.id %> .blog-body'
    window.render_md(raw_md, selector)
  })()
</script>
