<script>
// probably can do this with coffeescript...

$.when($.ready).then(function (e) {
  "use strict"
  $('#status-button').on('click', Blogs.toggle_status_button)
  $('#submit-button').on('click', Blogs.on_save_document)
  Blogs.setup_editor()
})
</script>

<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alerts error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title,
                        class: 'form-control',
                        placeholder: 'Title' %>
  </div>

  <div class="form-group">
    <button id="status-button"
            type="button"
            class="btn btn-outline-primary">
    Draft
    </button>
    <input type="hidden" id="blog_status" name="blog[status]" value="draft">
  </div>

  <div class="form-group">
    <div id="ace-editor-anchor"></div>
    <%= form.text_area :body, style: 'display: none;' %>
  </div>

  <div class="form-group">
    <!-- Need to replace this with bootstrap dropdown, browser <select> pretty lame -->
    <%= form.collection_select :topic_id,
                               Topic.order(:title),
                               :id,
                               :title,
                               {prompt: true},
                               {style: 'min-width: 150px;'} %>
  </div>

  <div class="form-group">
    <%= form.submit 'Submit', class: 'btn btn-primary', id: 'submit-button' %>
  </div>
<% end %>
