<script>
// probably can do this with coffeescript...

$.when($.ready).then(function (e) {
  $('#status-button').on('click', toggle_status_button)
  setup_editor()
})
</script>

<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alerts error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title,
                        class: 'form-control',
                        placeholder: 'Title' %>
  </div>

  <div class="form-group">
    <button id="status-button"
            type="button"
            class="btn btn-outline-primary">
      Draft
    </button>
    <input type="hidden" id="blog_status" name="blog[status]" value="draft">
  </div>

  <div class="form-group">
    <%= form.label :topic_id %>
    <%= form.collection_select :topic_id,
                               Topic.order(:title),
                               :id,
                               :title,
                               {
                                 selected: blog.topic_id,
                                 include_blank: true,
                               },
                               class: 'form-control'
    %>
  </div>

  <div class="form-group">
    <%= form.text_area :body,
                       class: 'form-control',
                       rows: 15,
                       placeholder: 'Content' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Submit', class: 'btn btn-primary', id: 'submit-button' %>
  </div>
<% end %>
