<div class="container">
  <% if notice %>
    <div class="row"><p id="notice"><%= notice %></p></div>
  <% end %>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        <h1><%= @blog.title %>
          <% if logged_in?(:site_admin) %>
            <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary ml-3" %>
          <% end %>
        </h1>
        <p><%= @blog.created_at.strftime '%B %d, %Y' %> (Updated <%= @blog.updated_at.strftime '%B %d, %Y' %>)</p>
        <p>
          <%= @blog.body %>
        </p>
        <div class="row">
          <div class="col">
            <a href="#" class="btn btn-secondary">Back to top</a>
          </div>
        </div>
      </div>
      <%= render 'shared/blog_sidebar' %>
    </div>
  </main>
</div>
