<% if logged_in? :site_admin %>
  <div class="row mb-3">
    <div class="col">
        <%= link_to 'Write a New Blog', new_blog_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-8">
    <h1 class="blog-post-title <%= @blog.status == 'draft' ? 'draft' : '' %>"><%= @blog.title %>
      <% if logged_in?(:site_admin) %>
        <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary ml-3" %>
      <% end %>
    </h1>
    <p><%= @blog.topic.title %></p>
    <p><%= @blog.created_at.strftime '%B %d, %Y' %> (Updated <%= @blog.updated_at.strftime '%B %d, %Y' %>)</p>
    <p>
      <%=  markdown @blog.body %>
    </p>
    <!-- comment form -->
    <%= render 'comments/comment_form' %>

    <div id="comments" data-blog-id="<%= @blog.id %>">
      <%= render @blog.comments %>
    </div>

    <div class="row">
      <div class="col">
        <a href="#" class="btn btn-secondary">Back to top</a>
      </div>
    </div>
  </div>
  <%= render 'shared/blog_sidebar' %>
</div>
