<%= image_tag @item.main_image %>

<h1><%= @item.title %></h1>

<em><%= @item.subtitle %></em>

<p><%= @item.body %></p>

<h2>Technologies Used:</h2>

<% @item.technologies.each do |tech| %>
  <p><%= tech.name %></p>
<% end %>
