<aside class="blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p>Adrian L Flanagan is a professional software developer, a father, and a
    tinkerer (not in that order).</p>
    <p>I'm a long-time developer of back-end enterprise database applications, and more recently added front-end
    development for the web.</p>
    <p>I'm a member of <a href="https://hackrva.org">HackRVA</a>, a <a href="https://en.wikipedia.org/wiki/Hackerspace">
    makerspace</a> in downtown Richmond, VA for those who like to make, modify, and/or repair things. We share space, a
    wide variety of tools, knowledge, and enthusiasm.</p>
  </div>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4 class="font-italic">Elsewhere</h4>
    <div class="container social-links">
      <div class="row">
        <div class="col-sm-4">
          <a href="https://github.com/alflanagan"><%= icon('fab', 'github', class: 'strong') %></a>
        </div>
        <div class="col-sm-4">
          <a href="https://twitter.com/lloyd_flanagan"><%= icon('fab', 'twitter', class: 'strong') %></a>
        </div>
        <div class="col-sm-4">
          <a href="https://www.linkedin.com/in/alloydflanagan"><%= icon('fab', 'linkedin', class: 'strong') %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion" id="topic_ul">
    <% @topic_list.each do |topic, blogs| %>
      <div class="card">
        <div class="card-header" id="heading_<%= topic.id %>">
          <h2 class="mb-0">
            <button class="btn btn-link"
              type="button"
              data-toggle="collapse"
              data-target="#topic_<%= topic.id %>"
              aria-expanded="false"
              aria-controls="topic_<%= topic.id %>">
            Blogs about: <%= topic.title %></button>
          </h2>
        </div>
        <div class="collapse"
             id="topic_<%= topic.id %>"
             aria-labelled-by="heading_<%= topic.id %>"
             data-parent="#topic_ul">
          <div class="card-body">
            <ul>
              <% blogs.each do |blog| %>
                <li><%= link_to blog.title, blog_path(blog.id) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</aside><!-- /.blog-sidebar -->
