<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <!-- highlighted posts, implement later -->
      <!-- <div class="row">
        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                  additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Design</strong>
                <h3 class="mb-0">Post title</h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional
                  content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      -->
    <% if notice %>
      <div class="row"><p id="notice"><%= notice %></p></div>
    <% end %>
    <main role="main" class="container">

      <%= render 'shared/blog_nav' %>

      <%= render 'shared/blog_masthead' %>

      <%= yield %>

      <%= render 'shared/blog_footer' %>

    </main><!-- /.container -->
  </body>
</html>
